
button {
  padding: 0.8em;
  border-radius: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: #282c5c;
  border: 2px solid #282c5c;
  background: #fff;
  cursor: pointer;
  margin: 1em;
}
h3 {
  color: #282c5c;
}
.prices {
  display: flex;
  align-items: center;
}
.prices > p {
  color: rgb(22 163 74);
  margin: 0;
  margin-right: 5px;
}
